#reserve {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  color: #cdcdcd;
  border: solid #ffffff;
  border-radius: 50px;
  margin-right: 50px;
  margin-left: 100px;
}
#reserve:hover {
  color: #ffffff;
  background: rgba(31, 181, 40, 0.5);
}
.navbar .nav-item a {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  color: #cdcdcd;
  font-weight: bolder;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-item:hover a {
  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}  
.pace {
  text-align: left;
  
}
.btn {
  color: orange;
}
.pace2 {
  color:white;
}
#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}

li {
    display: inline;
    margin-right: 20px;
}

.h-buttons {
    margin-top: 90px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}



figcaption {
    font-family: 'Oswald', serif;
}


#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif; 
}

#list{
  color: #cdcdcd;
}


.order-summary h1, .summary, .contact {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}
.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-pizza {
    margin-top: 40px;
}

.contact {
    padding-top: 20px;
}

.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 20px;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#list {
    color: #000;
}

.pizz {
    color: lawngreen;
}

 .form-control {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}
.pace3 {
    background: transparent;
    border: 1px solid #ffffff;
    padding: .8em .7em;
    border-radius: 20px;
    outline: none !important;
    font-size: 14px;
}

.footer{
  height: inherit;
  padding: 20px;
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  border-radius: 20px;
}